<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.yymoon.zplus" xmlns:tools="http://schemas.android.com/tools" android:installLocation="preferExternal">
  <application android:theme="@style/UnityThemeSelector" android:icon="@mipmap/app_icon" android:label="@string/app_name" android:isGame="true" android:banner="@drawable/app_banner">
    <activity
        android:name="com.yymoon.zplus.MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="sensorLandscape"
        android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
    </activity>
    <provider
      android:name="android.support.v4.content.FileProvider"
      android:authorities="com.yymoon.l3d.fileProvider"
      android:exported="false"
      android:grantUriPermissions="true">
		<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
	</provider>
	<meta-data android:name="WZ_APP_ID" android:value="362684"/>
  </application>
  <uses-feature android:name="android.hardware.vulkan" android:required="false"/>
</manifest>