{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
	{% include "form.html" %}
	<div>
        <div>
            <div>你好,{{ username }}</div>
			<div><a href="{% url 'logout' %}">退出</a></div>
			<h1>伙伴查看</h1>
		</div>
		<div class="well">
            {% csrf_token %}
			{{ form|as_bootstrap }}
            {% for huoban in form.huoban %}
            <div>
                <div>id：{{ huoban.id }}</div>
                <div>等级：{{ huoban.level }}</div>
                <div>进阶：{{ huoban.jlevel }}</div>
                <div>突破：{{ huoban.glevel }}</div>
                <div>技能：{{ huoban.skill_level }}</div>
			</div>
            <hr />
            {% endfor %}
		</div>
	</div>
</body>
</html>
