{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
    <script src="/static/js/mail.js?10" type="text/javascript"></script>
     <script src="/static/js/libao.js?10" type="text/javascript"></script>
	{% include "form.html" %}
	<div>
		<div>
			<h1>邮件</h1>
		</div>
        <div>
            <h2>已发邮件</h2>
        </div>
         <table class="table table-striped table-hover">  
            <tr>  
                <td><strong>时间</strong></td>
                <td><strong>用户</strong></td>
                <td><strong>标题</strong></td>
                <td><strong>内容</strong></td>
                <td><strong>奖励</strong></td>
				<td><strong>钻石</strong></td>
                <td><strong>其他</strong></td>
                <td><strong>成功</strong></td>
            </tr>  
            {% for line in line %}  
                <tr> 
                    <td>{{ line.dt|date:"Y-m-d H:i"  }}</td>
                    <td>{{ line.puser }}</td>
                    <td>{{ line.title }}</td>
                    <td>{{ line.text }}</td>
                    <td name ="libao_reward">{{ line.reward }}</td>
					<td>{{ line.jewel }}</td>
                    <td>{{ line.content }}</td>
                    <td>{{ line.suc }}</td>
                </tr>  
            {% endfor %}  
        </table>
        {{ line|pagination }} 
	</div>
</body>
</html>
