{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
    <script src="/static/js/mail.js?10" type="text/javascript"></script>
     <script src="/static/js/libao.js?10" type="text/javascript"></script>
	{% include "form.html" %}
    <div>
    <a href="{% url 'engine.manage.server_open_time_add' %}"><<<< 返回上一页</a>
    </div>
	<div>
		<div class="well">
			<form name="main" class="form-horizontal" action="" method="post">
				{% csrf_token %}
				{{ form|as_bootstrap }}
				<div>
					<input type="button" name ="tijiao" value="修改" class="btn btn-primary" onclick="return mask();"/>
				</div>
                {% if form.suc %}
                <script>
                    alert("修改成功");
                </script>
                {% endif %}
                {% if messages %}
                {% for message in messages %}
                <script>
                    alert("{{ message }}");
                </script>
                {% endfor %}
                {% endif %}
			</form>
		</div> 
	</div>
</body>
</html>
